* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
}

.left-graphic {
  background-image: url(/page_background.jpg);
  background-size: cover;
  height: 100vh;
  width: 50%;
  display: flex;
}

.right-form {
  background-color: #1e33eb;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding-left: 30px;
  color: white;
}

.logo-banner {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  opacity: 0.9;
  align-self: flex-start;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

form h2 {
  width: 100%;
}

form label {
  font-size: x-large;
}

input {
  padding: 5px;
}

input:invalid {
  border-color: red;
}

button {
  padding: 10px;
  border-radius: 10px;
}

form {
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid black;
  padding: 20px;
  border-radius: 10px;
  width: max(410px, 40%);
}
